@import url("https://fonts.bunny.net/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Golos+Text:ital,wght@0,400..900;1,400..900&family=kosugi-maru:400&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("/theming/heads.css");

:root {
    --dmtext: #eeeeee;

    --background: #f6f6f6;
    --bgcolor: #F0F0F0;
    --text: #5a5a5a;
    --dark: #644B74;
    --med: #D0BFFF;
    --medtl: #B780C4;
    --light: #dccbe7;
    --bg: #E5D9F2;

    --box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
    --borders: 1px solid var(--light);
    
    --NPF-Image-Spacing:4px;
    --NPF-Bottom-Gap-From-Captions:1em;
}

/*tooltips*/

.tippy-tooltip.custom-theme {
background: var(--background);
color: var(--text);
text-align: center;
font-size: 1em;
border-radius: 5px;
border: var(--borders);
text-transform: capitalize;
}

    /*basic styling*/
    
body {
background-color: #8d7caa;
background-image: url('https://64.media.tumblr.com/3d5b7e328717a20e6a90890857583ee7/tumblr_inline_t8igmaantm1qf8af3_500.png');
background-repeat: repeat;
background-size: auto;
background-attachment: fixed;
scrollbar-color: var(--med) transparent;
cursor: var(--normcursor);

font: 14px/1.5em "Funnel Sans";
-webkit-font-smoothing: antialiased;
color: var(--text);
background-attachment: fixed;
text-align: left;
word-wrap: break-word;
letter-spacing: 0.0em;
margin: 0;
padding: 0;
opacity: 1;
transition: 1s opacity;
}

body.fade-out {
opacity: 0;
transition: none;
}

a {
color: var(--dark); 
text-decoration: none;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

a, a img {cursor:pointer;}

a:hover {
color: var(--dark);
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

blockquote {
padding: 0 0 0 1.5em;
border-left: 1px solid var(--med);
margin: 1.5em 0 1.5em 1.5em;
}

h1, h2, h3, h4, h5, .title, title a {font-weight: bold; line-height: 1.6em; color: var(--dark)!important;}

.title {font-size: 1.2em;}
h1 {font-size: 1.4em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}

small {font-size: 1em;}
big {font-size: 1em;}

pre {
line-height: inherit;
font-size: inherit;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}

li {max-width: 100%; list-style-type: circle;}

/*posts*/

main {    
position: relative;
margin: 0px;
z-index: 1;
padding-left: 300px;
}

section {    
position: relative;
z-index: 1;
padding-right: 40px;
}

article {
width: 100%;
position: relative;
height: 100vh;
margin: 0px auto;
display: flex;
align-items: center;
space-between: center;
}



/*photo*/

img {
margin: 0;
display: block;
height: auto;
max-width: 100%;
}

/*post info*/

.info {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 2em;
}

.info a {margin: 0 0.5em; color: var(--dark)!important;}

.info i {
font-size: 18px;
vertical-align: middle;
}

.info:before, .info:after {
content: "";
flex: 1 1;
border-bottom: 1px solid #c1c1c1;
margin: auto;
}
.info:before {margin-right: 1em;}
.info:after {margin-left: 1em;}



body {
    --q-background: var(--background);
    --q-secondary-background: var(--bg);
    --q-tertiary-background: var(--bg);
}

.q-esevent__wrapper {
    display: flex;
    width: 100%;
    gap: 10px;
    background: var(--q-secondary-background);
    border-radius: 5px;
    height: 90vh;
    margin: auto;
    max-width: 800px;
    max-height: 800px;
    transition: .3s;
    border: var(--borders);
    border-radius: 5px;
}

.q-esevent-side__wrapper {
    flex: 1 1 27%;
    max-width: 200px;
    background: var(--q-tertiary-background);
    transition: .3s;
    scrollbar-color: rgba(204, 181, 181, .5) #f000;
    position: relative;
}
.q-esevent-side__wrapper > .watata {
    position: absolute;
    left: -60px;
    bottom: 75px;
    z-index: -1;
    width: 100px;
    height: auto;
    transform: rotate(-45deg);
}
.q-esevent-side__wrapper > .yuutakun {
    position: absolute;
    left: 200px;
    top: -87px;
    z-index: -1;
    width: 100px;
    height: auto;
}

.q-esevent-side {
    padding: 0px 0.8em;
    overflow: scroll;
    height: 100%;
    mask-image: linear-gradient(transparent 0.8em, black 1.6em, black calc(90vh - 1.6em), transparent calc(90vh - 0.8em));
}

.q-esevent-main__wrapper {
    flex: 1 1 77%;
    padding: 1em;
    overflow: auto;
    scrollbar-color: rgba(204, 181, 181, .5) #f000;
}

.q-esevent-side::-webkit-scrollbar-track,
.q-esevent-main__wrapper::-webkit-scrollbar-track {
    display: none;
}

.q-esevent-side::-webkit-scrollbar-thumb,
.q-esevent-main__wrapper::-webkit-scrollbar-thumb{
    background-color: rgba(204, 181, 181, .5);
}

.q-esevent-sidelist {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0.8em 0px;
}
.q-esevent-sidelist > div {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.q-esevent-side h3 {
    background-color: var(--med);
    border-radius: 5px;
    font-size: 1.1em;
    margin: 10px 3px 3px 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}
.q-esevent-side a{
    text-transform: lowercase;
    font-size: 1.1em;
    margin: 0px;
    font-style: italic;
    padding: 0.2em;
    transition: background 0.1s ease;
}
.q-esevent-side a.active {
    background: var(--med);
    border-radius: 5px;
}

.noneSelected{
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    text-transform: lowercase;
    opacity: 0.3;
    font-weight: 700;
    font-style: italic;
    margin-top: 45vh;
    transform: translateY(-50%);
}

.i {
    max-width: 350px;
    text-align: center;
    margin: 1em auto;
}

.rnd {
    border-radius: 3px;
}
.idol {
  border-radius: 3px;
  height: 50px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 15%;
}

.en {
    font-size: 1.50em;
    color: var(--dark);
    text-align: center;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

.jp {
    font-size: 1.0em;
    color: var(--dark);
    opacity: 0.6;
    text-align: center;
    font-weight: bold;
    margin-top: 0.2em;
}

.pr {
    margin: 0.5em auto;
    text-align: center;
    background-color: var(--med);
    padding: 5px;
    border-radius: 5px;
}
table#info, table#pr {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: var(--med) ;
  max-width: 800px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  color: var(--dark);
  text-transform: capitalize;
  width: 100%;
}

table#pr a {
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
table#pr a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentcolor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}
table#pr a:hover:after {
    transform: scaleX(1);
}

th, td {
    width: 100px;
}

table#idol {
  width: 100%;
  margin-bottom: 0;
}
table#idol th {
  font-size: 1.25em;
  color: var(--dark);
  width: 45%;
  text-align: left;
  vertical-align: bottom;
}
table#idol .cha {
  height: 37px;
}

.syn {
    background-color: var(--background);
    color: var(--text);
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.ch {
    background-color: var(--background);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: var(--box-shadow);
    line-height: 2em;
}

.synopsis:before, .chl:before, .ex {
    font-size: 1.0em;
    color: var(--dark);
    font-weight: bold;
}

.synopsis:before {
    content: "Synopsis";
}

.chl:before {
    content: "Chapter List";
}

.chb, .noch {
    display: inline-block;
    width: 2.8em;
    text-align: center;
    border-radius: 5px;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    padding: 0;
}

.chb {
    background-color: var(--bg);
    color: var(--dark);
    border: var(--borders);
}
.chb:hover {
    color: var(--dmtext);
    background-color: #8d7caa;
}

.noch {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--background);
}
.noch:hover {
    color: var(--dmtext);
    background-color: #8d7caa;
    opacity: 30%;
}
.nodir {
  display: none;
}


.sec {
    color: var(--light);
    font-weight: bold;
    position: relative;
    margin-bottom: 0.5em;
}
.sec:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: var(--light);
    transform: scaleX(1);
    transform-origin: left;
}

.managelist > div {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.notl > div {
    filter: grayscale(100%);
    opacity: 0.5
}

.chal > div {
    margin-top: 1em;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}
.cha > div {
  background: 100%/100% no-repeat var(--link);
  flex: 0 0 40px;
  height: 40px;
}

.mheads {
  background-image: var(--link);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 1.5em;
  line-height: 2.4em;
  margin-right: 15px;
}
.mnoch {
  filter: grayscale(100%);
  opacity: 0.5;
}

.chheads {
  background-image: var(--link);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

[data-title]:hover:after {
    opacity: 0.7;
    transition: 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: var(--background);
    color: var(--dark);
    font-size: 1.1em;
    font-weight: bold;
    text-transform: none;
    position: absolute;
    border-radius: 3px;
    top: 3%;
    left: 1.5%;
    width: 97%;
    height: 94%;
    text-align: center;
    align-content: center;
    white-space: normal;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

@media only screen and (max-width: 720px) {
    
    
.q-esevent__wrapper {
    flex-direction: column;
    height: 100vh;
    gap: 0px;
}

.q-esevent-side__wrapper {
    flex: 0 0 auto;
    max-width: unset;
    min-width: 200px;
    height: auto;
    padding: 0.8em;
}

.q-esevent-side {
    overflow: auto;
    height: auto;
    mask-image: none;
}

.q-esevent-main__wrapper {
    flex: 1 1 auto;
    padding: 1em;
    overflow: auto;
    height: unset;
}


.q-esevent-sidelist > div {
    flex: 0 0 auto;
    flex-direction: row;
    gap: 0px;
}

.q-esevent-sidelist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
}
.q-esevent-side h3 {
    flex: 0 0 auto;
    line-height: 1;
    margin: 5px;
    padding: 10px;
}

.q-esevent-side a{
    flex-shrink: 0;
}

.q-esevent-side a img{
    height: 60px;
}

table {
    font-size: 0.7em;
}
}

#right {
  position: absolute;
  height: auto;
  width: 23%;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  z-index: 998;
}
.tos {
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--dmtext);
  z-index: 999;
}
.tos ol {
  padding: 0;
  margin: 0;
}
.tos li {
  margin-left: 20px !important;
  margin-right: 0px;
  list-style-type: square;
}
.tos a {
  text-decoration: underline;
  color: var(--light);
  font-weight: bold;
}
#right > .hinatakun {
    right: 10%;
    top: -80px;
    z-index: -9999;
    width: 90px;
    height: auto;
    position: absolute;
}

#left {
  width: 340px;
  height: auto;
  z-index: 1000;
  position: absolute;
  left: 20px;
  top: 30px;
}
 
#nav{
display: flex;
justify-content: space-evenly;
flex-direction: row;
width: 333px;
background-color: var(--light);
padding: 5px 0;
border-radius: 5px;
border: 4px dotted var(--med);
font-family: var(--fancytxt);
font-size: 1.3em;
text-align: center;
position: absolute;
left: 0;
top: 100px;
transform: translateZ(-10px);
}
#nav > div {
color: var(--dark);
width: 30%;
background-color: var(--background);
border-radius: 5px;
border: 2px solid var(--med);
white-space: nowrap;
}
#nav > div a {
  display: block;
  padding: 10px 0;
}
#nav a:hover{
background-color: var(--med);
border-color: var(--background);
color: var(--background);
font-weight: normal;
}

#header{
width: 300px;
margin: 15px auto 7px auto;
z-index: 1010;
}
#left > .yuzurun {
  position: absolute;
  right: 85px;
  top: 71px;
  z-index: 100;
  width: 25px;
  height: auto;
  z-index: 1000000;
  transform: scaleX(-1);
}

.notice, .chatboxtip {
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  font-size: 0.95em;
}
.notice {
  background-color: #fff;
  color: var(--dark);
  top: 140%;
}
.chatboxtip {
  background-color: var(--dark);
  color: var(--dmtext);
  top: 105%;
  left: 0;
}
.chatboxtip img {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
}
 
h1{
font-family: var(--fancytxt);
text-align: center;
font-size: 60px;
font-weight: bold;
color: #fff;
margin: 0px;
}
h1 a {
  color: var(--dark);
}
h1 a:hover {
  color: var(--medtl);
}





/*responsiveness*/

/*--- for small desktop/tablet screens ---*/

@media only screen and (max-width: 1500px) {
#left, #right, .tos, .yuzurun, .yuutakun, .watata {display:none;}
}

@media only screen and (max-width: 1200px) {
main {width: 540px;
    padding-left: 0px;
    margin: auto;
}

  #custom-link-container{
      height: auto;
  }
  
  .hidemobile {
      display: none;
  }

section {margin-left: 0;
    padding: 0px;
}

/*#left, #nav, #header {
  position: static;
  width: 100%;
  margin: 0 auto;
  }*/

}

/*--- for mobile devices ---*/

@media only screen and (max-width: 720px) {
main, section {width: auto;}
main {
    padding: 0px 60px;
}

article {margin: 20px auto;}

.tippy-tooltip.custom-theme, #controls-icon {display: none;}

 article {
height: auto;
}

a, a img {
    max-width: 145px
}

}
