.eichi {
  --link: url(/icons/chibiEichi.png);}
.wataru {
  --link: url(/icons/chibiWataru.png);}
.tori {
  --link: url(/icons/chibiTori.png);}
.yuzuru {
  --link: url(/icons/chibiYuzuru.png);}
.hokuto {
  --link: url(/icons/chibiHokuto.png);}
.subaru {
  --link: url(/icons/chibiSubaru.png);}
.makoto {
  --link: url(/icons/chibiMakoto.png);}
.mao {
  --link: url(/icons/chibiMao.png);}
.chiaki {
  --link: url(/icons/chibiChiaki.png);}
.kanata {
  --link: url(/icons/chibiKanata.png);}
.tetora {
  --link: url(/icons/chibiTetora.png);}
.midori {
  --link: url(/icons/chibiMidori.png);}
.shinobu {
  --link: url(/icons/chibiShinobu.png);}
.hiiro {
  --link: url(/icons/chibiHiiro.png);}
.aira {
  --link: url(/icons/chibiAira.png);}
.mayoi {
  --link: url(/icons/chibiMayoi.png);}
.tatsumi {
  --link: url(/icons/chibiTatsumi.png);}
.nagisa {
  --link: url(/icons/chibiNagisa.png);}
.hiyori {
  --link: url(/icons/chibiHiyori.png);}
.ibara {
  --link: url(/icons/chibiIbara.png);}
.jun {
  --link: url(/icons/chibiJun.png);}
.shu {
  --link: url(/icons/chibiShu.png);}
.mika {
  --link: url(/icons/chibiMika.png);}
.hinata {
  --link: url(/icons/chibiHinata.png);} /*https://i.imgur.com/MVJbnwQ.png*/
.yuuta {
  --link: url(/icons/chibiYuuta.png);}
.yuuta2 {
  --link: url(/icons/chibiYuuta2.png);}
.rinne {
  --link: url(/icons/chibiRinne.png);}
.himeru {
  --link: url(/icons/chibiHimeru.png);}
.kohaku {
  --link: url(/icons/chibiKohaku.png);}
.niki {
  --link: url(/icons/chibiNiki.png);}
.rei {
  --link: url(/icons/chibiRei.png);}
.kaoru {
  --link: url(/icons/chibiKaoru.png);}
.koga {
  --link: url(/icons/chibiKoga.png);}
.adonis {
  --link: url(/icons/chibiAdonis.png);}
.tomoya {
  --link: url(/icons/chibiTomoya.png);}
.nazuna {
  --link: url(/icons/chibiNazuna.png);}
.mitsuru {
  --link: url(/icons/chibiMitsuru.png);}
.hajime {
  --link: url(/icons/chibiHajime.png);}
.keito {
  --link: url(/icons/chibiKeito.png);}
.kuro {
  --link: url(/icons/chibiKuro.png);}
.souma {
  --link: url(/icons/chibiSouma.png);}
.tsukasa {
  --link: url(/icons/chibiTsukasa.png);}
.leo {
  --link: url(/icons/chibiLeo.png);}
.izumi {
  --link: url(/icons/chibiIzumi.png);}
.ritsu {
  --link: url(/icons/chibiRitsu.png);}
.arashi {
  --link: url(/icons/chibiArashi.png);}
.natsume {
  --link: url(/icons/chibiNatsume.png);}
.tsumugi {
  --link: url(/icons/chibiTsumugi.png);}
.tsumugi2 {
  --link: url(/icons/chibiTsumugi2.png);}
.sora {
  --link: url(/icons/chibiSora.png);}
.madara {
  --link: url(/icons/chibiMadara.png);}
.jin {
  --link: url(/icons/chibiJin.png);}
.akiomi {
  --link: url(/icons/chibiAkiomi.png);}
.anzu {
    --link: url(https://64.media.tumblr.com/3bb5a8fdb74129314e25f16fe187ed9a/7743686ab6c72538-20/s250x400/0e224998cecba640ea1566184d459c3d1375ae55.pnj);}
.esu {
  --link: url(/icons/chibiEsu.png);}
.kanna {
  --link: url(/icons/chibiKanna.png);}
.raika {
  --link: url(/icons/chibiRaika.png);}
.yume {
  --link: url(/icons/chibiYume.png);}
.Ibuki {
  --link: url(/icons/chibiIbuki.png);}
