.eichi {
  --link: url(https://64.media.tumblr.com/c39e184850ec09d24e18a6c42921768d/7743686ab6c72538-79/s250x400/7fc3e888065ed5f39c3c039ff00c156df76f276a.pnj);}
.wataru {
  --link: url(https://i.imgur.com/jz4hIP5.png);}
.tori {
  --link: url(https://64.media.tumblr.com/407b86a71b74209c3c0a53fbfe8acfaa/7743686ab6c72538-4f/s250x400/df866e1a22d63357ce9f5a9090d0b969115a5ef4.pnj);}
.yuzuru {
  --link: url(https://i.imgur.com/tWtx2xy.png);}
.hokuto {
  --link: url(https://64.media.tumblr.com/b6f41c30e4b9a9704037c2135181fe47/7743686ab6c72538-0f/s250x400/f3de382e1fe651aadb7baeb1d9ce2bbe0430717b.pnj);}
.subaru {
  --link: url(https://64.media.tumblr.com/33f3a18783f95ee42a3f7f3e3e58377a/7743686ab6c72538-8f/s250x400/78a3677bdfda84d1808061c66c8b91855e79031a.pnj);}
.makoto {
  --link: url(https://64.media.tumblr.com/203726687367331ea968134e47adc293/7743686ab6c72538-5f/s250x400/b083c7127a8e3faed07a959b6eba416d7aa81328.pnj);}
.mao {
  --link: url(https://64.media.tumblr.com/29cf439d4345591d88ca6d688efe01b2/7743686ab6c72538-02/s250x400/296d744ee691ed22a62f5b3951b9c24ae85518d1.pnj);}
.chiaki {
  --link: url(https://64.media.tumblr.com/3bd7fea7d0053d0e676e7f8ca6207aad/7743686ab6c72538-65/s250x400/f0d5c45f8bab8c21d281223df58d2c1c6126cdfa.pnj);}
.kanata {
  --link: url(https://64.media.tumblr.com/7b73f8b62bc03637478e2538fd373a7b/7743686ab6c72538-10/s250x400/2310878196e1b29e3f8862fb81554fd021772353.pnj);}
.tetora {
  --link: url(https://i.imgur.com/GNtEgod.png);}
.midori {
  --link: url(https://64.media.tumblr.com/a656885ec6b220404f08fca91602c67e/7743686ab6c72538-4b/s250x400/e19bf1655692eece1450306c41a38180d79925c0.pnj);}
.shinobu {
  --link: url(https://64.media.tumblr.com/cd0d2267a20f39b865bc844f5d52b208/7743686ab6c72538-54/s250x400/cb5aab2da4496c6dd34379587ab0e618c2a640d0.pnj);}
.hiiro {
  --link: url(https://64.media.tumblr.com/75a0cff5e7217feedd01790436bfd1ff/7743686ab6c72538-d1/s250x400/2b40fff0824f457df09ca39f4d6ea30c69db9e9e.pnj);}
.aira {
  --link: url(https://64.media.tumblr.com/47a12efd45a452d2f256d77d6849b262/7743686ab6c72538-5a/s250x400/7575031a310c512f5f579fbcc1d8ac920dcb4d25.pnj);}
.mayoi {
  --link: url(https://64.media.tumblr.com/7a2897fdd8fae50a377f30c45c530d92/7743686ab6c72538-39/s250x400/76a56451ab6015d9e3ba897f003af7e7dd226961.pnj);}
.tatsumi {
  --link: url(https://64.media.tumblr.com/ce60c9709150190c072891a9e28ea8a8/7743686ab6c72538-c2/s250x400/f9c9a6c274ac80c2732105fb672944c9d1843d8a.pnj);}
.nagisa {
  --link: url(https://64.media.tumblr.com/0fab8a75e342c14ee30d7575c4647d38/7f7b5d4ac418b934-0e/s250x400/a740c35810aae74ecc250814d0b4d613173c796e.pnj);}
.hiyori {
  --link: url(https://64.media.tumblr.com/6d43eb5996c5a1269a8ab124fb1bf02b/7f7b5d4ac418b934-3a/s250x400/24cd5c05be571d0c31baa64f09dfefd4c2aeb783.pnj);}
.ibara {
  --link: url(https://64.media.tumblr.com/962afb230a94e7b6ef6f7f68705e40f3/7f7b5d4ac418b934-0b/s250x400/a64e09b18cfb39f9459a63f6ceacd656a8a0f24b.pnj);}
.jun {
  --link: url(https://64.media.tumblr.com/99700cbbdfd47fbc0a2a96b3128fba3b/7f7b5d4ac418b934-fe/s250x400/9a81ac6eb18e137b2d346285fe36e63717ace8c5.pnj);}
.shu {
  --link: url(https://64.media.tumblr.com/063a59cbb8015ab978028e1a35613081/7f7b5d4ac418b934-25/s250x400/7c89591503f48cde7f8d5ddffbe6ae3655d4befb.pnj);}
.mika {
  --link: url(https://i.imgur.com/XFw1XfA.png);}
.hinata {
  --link: url(/icons/chibiHinata.png);} /*https://i.imgur.com/MVJbnwQ.png*/
.yuuta2 {
  --link: url(https://i.imgur.com/7dD9WsM.png);}
.yuuta {
  --link: url(https://64.media.tumblr.com/2a05861d4af0177fda8aa4b9044dd9d5/7f7b5d4ac418b934-a2/s250x400/147b6067f72dcca26425c1accc0794a0d59f272a.pnj);}
.rinne {
  --link: url(https://64.media.tumblr.com/7299d2f18eb5ece24cab3a98760afe0a/7f7b5d4ac418b934-26/s250x400/7a8bf9210847462a97b21e19baf3c3bacffedaf3.pnj);}
.himeru {
  --link: url(https://i.imgur.com/ycjHxwY.png);}
.kohaku {
  --link: url(https://64.media.tumblr.com/21d95ff64071c497424ad8df72f6b2d6/7f7b5d4ac418b934-dc/s250x400/d5f1e7741142e0362cbcb0bd08c901a32113acba.pnj);}
.niki {
  --link: url(https://64.media.tumblr.com/a1a1901321432a25d95c465e8ccc2995/7f7b5d4ac418b934-2d/s250x400/3c194dd7628f99ba979479a472df3ebb894ab89f.pnj);}
.rei {
  --link: url(https://64.media.tumblr.com/db7602c44db7046a42a7f946d0831f16/7f7b5d4ac418b934-ac/s250x400/cec29d18ab1cc32e1e55b97706354d3c07a8ca12.pnj);}
.kaoru {
  --link: url(https://64.media.tumblr.com/7010a14f0cf8568586f4bb334f659baa/7f7b5d4ac418b934-13/s250x400/50772fafce8f216007f0597740eaefb72f663905.pnj);}
.koga {
  --link: url(https://64.media.tumblr.com/d111dd2c55cced05fbd1e033daa686f0/7f7b5d4ac418b934-ec/s250x400/4f971af118987a8dea3b6f9d7244a3771dd79b64.pnj);}
.adonis {
  --link: url(https://64.media.tumblr.com/f157b70fb6b462b9b1f21cab51f6dde7/7f7b5d4ac418b934-91/s250x400/286033a0d271a88cfde75cfff7a0d4daf17af36d.pnj);}
.tomoya {
  --link: url(https://i.imgur.com/ZcsNrKC.png);}
.nazuna {
  --link: url(https://64.media.tumblr.com/0ab5206d66d4d06e02b5835cc2151075/7f7b5d4ac418b934-2d/s250x400/710cc81037b2e5ba037d4022438232a5f691e21d.pnj);}
.mitsuru {
  --link: url(https://64.media.tumblr.com/128f7f0dd875eee3389df80ea9999ba1/7f7b5d4ac418b934-d7/s250x400/8690835ab4d976b894380031d3972742cda45eda.pnj);}
.hajime {
  --link: url(https://64.media.tumblr.com/e393022a3985eb50f386258bdf8c6bf5/7f7b5d4ac418b934-01/s250x400/e766aebeef076c74484482dbb3eb599b851ae3fa.pnj);}
.keito {
  --link: url(https://64.media.tumblr.com/2040610a5e6d7dbe1e4f0487c1ca1145/7f7b5d4ac418b934-82/s250x400/1a24c2cb317674722f7fcd6e754e8c45dc8e7d16.pnj);}
.kuro {
  --link: url(https://64.media.tumblr.com/b77804b37dd642dedd0a995298ef44b7/7f7b5d4ac418b934-d7/s250x400/46b60588f60797114d98cfab228294bc3d93452e.pnj);}
.souma {
  --link: url(https://64.media.tumblr.com/4e9b0c2824e94a814f481597cf53ecb1/7f7b5d4ac418b934-87/s250x400/c6887ec4eaeded76d52561572b1db7b54c2acf71.pnj);}
.tsukasa {
  --link: url(https://i.imgur.com/zLSfEeO.png);}
.leo {
  --link: url(https://64.media.tumblr.com/d559b3b3ea51602a218868dc32caf327/7743686ab6c72538-bd/s250x400/ccc990a4e0b2f6df165e52a4ad1d845acb03f601.pnj);}
.izumi {
  --link: url(https://64.media.tumblr.com/ac30e579cac94b7881b1908fe8955249/7743686ab6c72538-7c/s250x400/1367ef753f99bfba6243f8c533772ba23e84f38f.pnj);}
.ritsu {
  --link: url(https://64.media.tumblr.com/f93dca882aa807019df089a55c24d2c0/7743686ab6c72538-44/s250x400/1d926bc8a35481a3626299da5569f6b185b89d64.pnj);}
.arashi {
  --link: url(https://i.imgur.com/gVVLpFq.png);}
.natsume {
  --link: url(https://i.imgur.com/PQuH7ct.png);}
.tsumugi {
  --link: url(https://64.media.tumblr.com/23c617c8750fdaafa622d1c18c0374be/7743686ab6c72538-31/s250x400/dba0dc4b75aa325f8e0143579be7d834c2e0644d.pnj);}
.sora {
  --link: url(https://i.imgur.com/C0UqTiU.png);}
.madara {
  --link: url(https://64.media.tumblr.com/75184498a21c8236ef0d4adf346da8c5/7743686ab6c72538-45/s250x400/2b65f87f42b796f1cd6fba16917328f1bf9eb38a.pnj);}
.hitsugi {
  --link: url(https://64.media.tumblr.com/420d936574f8e164c3b366eab142ea1d/7743686ab6c72538-51/s250x400/7246fc8348e16bab1592b1ce5da76a90e01c2886.pnj);}
.jin {
  --link: url(https://i.imgur.com/kuKbijs.png);}
.akiomi {
  --link: url(https://64.media.tumblr.com/34467295e6d78a7d6543387539ba3e25/7743686ab6c72538-d1/s250x400/4f70948cc6506761b2ad82385aa9f4728ea997c1.pnj);}
.seiya {
  --link: url(https://i.imgur.com/SGcYZYW.png);}
.gatekeeper {
  --link: url(https://64.media.tumblr.com/8b10b155dc799b8d7790337bcaa6cc7c/7743686ab6c72538-f2/s250x400/8d9cf214879f4079a6277f7f7fa907920db372dc.pnj);}
.anzu {
    --link: url(https://64.media.tumblr.com/3bb5a8fdb74129314e25f16fe187ed9a/7743686ab6c72538-20/s250x400/0e224998cecba640ea1566184d459c3d1375ae55.pnj);}
